* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Montserrat, "sans-serif";
  text-align: center;
  background-color: #222831;
  // background-color: #313946;
  color: #e3f6f5;
}

a {
  color: white;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
}

.page-wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  margin-top: 1em;
  h3 {
    color: #ee4540;
    font-size: 1.4em;
    margin-bottom: 0.3em;
  }
}

.infected-val {
  color: #64818b;
}
.recovered-val {
  color: #7ba346;
}
.deaths-val {
  color: #c51221;
}

.countries-wrapper {
  margin-bottom: 1.5em;

  .country {
    display: grid;
    width: 90%;
    margin: 0 auto 1em auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-left: 2px solid #4c5a6d;
    border-right: 2px solid #4c5a6d;
  }
}

.province-wrapper {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  padding: 1em 0.5em 0 0.5em;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  box-shadow: 3px 4px 8px 1px rgb(15, 15, 15), -3px -4px 8px 1px rgb(78, 78, 78);
  .province {
    margin: 0 5px;
  }
  .province-stats {
    display: flex;
    justify-content: center;
    .invected-province {
      margin-right: 2px solid #4c5a6d;
    }
    h4 {
      margin: 0.4em 0.3em 1.5em 0.3em;
      // border-left: 1px solid #4c5a6d;
      // border-right: 1px solid #4c5a6d;
    }
  }
}

.chart {
  width: 85%;
  margin: 0.5em auto 2em auto;
  .recharts-legend-item-text {
    font-size: 0.9em;
  }
  .chart-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 1em;
    h4 {
      color: #80e792;
      font-size: 0.9em;
    }
    small {
      color: rgb(153, 153, 153);
      cursor: pointer;
    }
  }
}

.chart-global {
  box-sizing: initial;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
}

.province-title {
  margin-bottom: 1em;
}

.province-more {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-decoration: underline;
  cursor: pointer;
}

.countries-more {
  margin-top: 1em;
  text-decoration: underline;
  cursor: pointer;
}

.false {
  height: 150px;
}
.true {
  height: auto;
}

.false-countries {
  height: 210px;
  overflow: hidden;
}
.true-countries {
  height: auto;
}

.global-wrapper {
  position: relative;
  display: grid;
  height: 130px;
  margin: 1em auto 1.5em auto;
  padding: 1em 0;
  width: 90%;
  border-radius: 10px;
  box-shadow: 3px 4px 8px 1px rgb(15, 15, 15), -3px -4px 8px 1px rgb(78, 78, 78);

  .global-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 0.7em;
  }
  .global-daily {
    small {
      display: inline-block;
      color: rgba(255, 255, 255, 0.705);
      line-height: 0.8em;
      margin-top: 5px;
    }
  }
  h4 {
    font-family: Roboto;
  }

  .global-stats {
    p {
      font-size: 0.9em;
    }
  }
}

.stats-wrapper {
  width: 70%;
  border-radius: 10px;
  display: grid;
  align-items: center;
  height: 7.5em;
  margin: 2em auto;
  box-shadow: 3px 4px 8px 1px rgb(15, 15, 15), -3px -4px 8px 1px rgb(78, 78, 78);
  p {
    font-size: 1.3em;
  }
  h4 {
    font-size: 2.5em;
    font-family: Roboto;
  }

  .infected-val {
    color: #64818b;
  }
  .recovered-val {
    color: #7ba346;
  }
  .deaths-val {
    color: #c51221;
  }
}

.stats-percent {
  width: 70%;
  margin: -1em auto 1.3em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.infected {
  margin-top: 1em;
}

.exchange {
  margin-bottom: 1.5em;
  h4 {
    display: inline;
  }
}

footer {
  margin-bottom: 1em;
  p {
    font-size: 0.9em;
  }
  small {
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
  }
}

.loading {
  margin: 6em;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .desktop-flex {
    display: flex;
    .stats-wrapper {
      margin: 1.5em 1em 2.5em 1em;
    }
  }
  .global-wrapper {
    width: 60%;
  }
  .province-wrapper {
    width: 60%;
  }

  .countries-wrapper {
    .country {
      width: 60%;
    }
  }
  .title {
    margin-top: 1em;
  }
}
