* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Montserrat, "sans-serif";
  text-align: center;
  background-color: #222831;
  color: #e3f6f5;
}

.page-wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  margin-top: 1em;
}

header h3 {
  color: #ee4540;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

.infected-val {
  color: #64818b;
}

.recovered-val {
  color: #7ba346;
}

.deaths-val {
  color: #c51221;
}

.countries-wrapper {
  margin-bottom: 1.5em;
}

.countries-wrapper .country {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 0 auto 1em auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #4c5a6d;
  border-right: 2px solid #4c5a6d;
}

.province-wrapper {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  padding: 1em 0.5em 0 0.5em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 8px 1px #0f0f0f, -3px -4px 8px 1px #4e4e4e;
          box-shadow: 3px 4px 8px 1px #0f0f0f, -3px -4px 8px 1px #4e4e4e;
}

.province-wrapper .province {
  margin: 0 5px;
}

.province-wrapper .province-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.province-wrapper .province-stats .invected-province {
  margin-right: 2px solid #4c5a6d;
}

.province-wrapper .province-stats h4 {
  margin: 0.4em 0.3em 1.5em 0.3em;
}

.province-title {
  margin-bottom: 1em;
}

.province-more {
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-decoration: underline;
}

.false {
  height: 220px;
}

.true {
  height: auto;
}

.global-wrapper {
  margin: 1em auto 1.5em auto;
  padding: 1em 0;
  width: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 8px 1px #0f0f0f, -3px -4px 8px 1px #4e4e4e;
          box-shadow: 3px 4px 8px 1px #0f0f0f, -3px -4px 8px 1px #4e4e4e;
}

.global-wrapper .global-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7em;
}

.global-wrapper .global-daily small {
  display: inline-block;
  color: rgba(255, 255, 255, 0.705);
  line-height: 0.8em;
  margin-top: 5px;
}

.global-wrapper h4 {
  font-family: Roboto;
}

.global-wrapper .global-stats p {
  font-size: 0.9em;
}

.stats-wrapper {
  width: 70%;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5em;
  margin: 2em auto;
  -webkit-box-shadow: 3px 4px 8px 1px #0f0f0f, -3px -4px 8px 1px #4e4e4e;
          box-shadow: 3px 4px 8px 1px #0f0f0f, -3px -4px 8px 1px #4e4e4e;
}

.stats-wrapper p {
  font-size: 1.3em;
}

.stats-wrapper h4 {
  font-size: 2.5em;
  font-family: Roboto;
}

.stats-wrapper .infected-val {
  color: #64818b;
}

.stats-wrapper .recovered-val {
  color: #7ba346;
}

.stats-wrapper .deaths-val {
  color: #c51221;
}

.infected {
  margin-top: 1em;
}

.exchange {
  margin-bottom: 1.5em;
}

.exchange h4 {
  display: inline;
}

footer {
  margin-bottom: 1em;
}

footer p {
  font-size: 0.9em;
}

footer small {
  margin-top: 15px;
  display: inline-block;
  font-weight: bold;
}

.loading {
  margin: 6em;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .desktop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop-flex .stats-wrapper {
    margin: 1.5em 1em 2.5em 1em;
  }
  .global-wrapper {
    width: 60%;
  }
  .countries-wrapper .country {
    width: 60%;
  }
  .title {
    margin-top: 1em;
  }
}
/*# sourceMappingURL=style.css.map */