* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Montserrat, "sans-serif";
  text-align: center;
  background-color: #222831;
  color: #e3f6f5;
}

.page-wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  margin-top: 1em;
  h3 {
    color: #ee4540;
    font-size: 1.4em;
    margin-bottom: 0.3em;
  }
}

.global-wrapper {
  margin: 1em auto 2em auto;
  padding: 1em 0;
  width: 90%;
  border-radius: 10px;
  box-shadow: 3px 4px 8px 1px rgb(15, 15, 15), -3px -4px 8px 1px rgb(78, 78, 78);

  .global-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 0.7em;
  }
  .global-daily {
    small {
      display: inline-block;
      color: rgba(255, 255, 255, 0.705);
      line-height: 0.8em;
      margin-top: 5px;
    }
  }
  h4 {
    font-family: Roboto;
  }
  .infected-val {
    color: #64818b;
  }
  .recovered-val {
    color: #7ba346;
  }
  .deaths-val {
    color: #c51221;
  }
  .global-stats {
    p {
      font-size: 0.9em;
    }
  }
}

.stats-wrapper {
  width: 70%;
  border-radius: 10px;
  display: grid;
  align-items: center;
  height: 7.5em;
  margin: 2em auto;
  box-shadow: 3px 4px 8px 1px rgb(15, 15, 15), -3px -4px 8px 1px rgb(78, 78, 78);
  p {
    font-size: 1.3em;
  }
  h4 {
    font-size: 2.5em;
    font-family: Roboto;
  }

  .infected-val {
    color: #64818b;
  }
  .recovered-val {
    color: #7ba346;
  }
  .deaths-val {
    color: #c51221;
  }
}

.infected {
  margin-top: 1em;
}

footer {
  margin-bottom: 1em;
  p {
    font-size: 0.9em;
  }
  small {
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
  }
}

.loading {
  margin: 6em;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .desktop-flex {
    display: flex;
    .stats-wrapper {
      margin: 1.5em 1em 2.5em 1em;
    }
  }
  .global-wrapper {
    width: 60%;
  }
  .title {
    margin-top: 1em;
  }
}
